name: test

on:
  push:
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  pytest:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: "Set up Python"
      uses: actions/setup-python@v6
      with:
        python-version-file: "pyproject.toml"

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install the project
        run: uv sync --locked --all-extras --dev

    - name: Setup dummy SECRET file
      run: |
        touch SECRETS.py
        echo "PSQL_URL = 'postgresql+asyncpg://user:password@localhost:5432/database'" >> SECRETS.py
        echo "OPENWEATHERMAP_KEY = '1234qwertz'" >> SECRETS.py
        echo "SECRET_KEY = '1234qwertz'" >> SECRETS.py
        echo "SERVERSTATS_SETTINGS = {'hosting_id': '123', 'token': '1234qwertz'}" >> SECRETS.py
    - name: Test with pytest
      run: |
        uv run pytest --cov-report html --cov=api
